/* ========================================================================== $NORMALIZE ========================================================================== */

/** * NOTE: * * Refer to http://nicolasgallagher.com/about-normalize-css/ */

@import url('https://fonts.googleapis.com/css?family=Nunito');
html {
 font-family: sans-serif;
 -ms-text-size-adjust: 100%;
 -webkit-text-size-adjust: 100%
}

body {
 margin: 0;
 font-family: 'Nunito', sans-serif !important;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
 display: block
}

audio,
canvas,
progress,
video {
 display: inline-block;
 vertical-align: baseline
}

audio:not([controls]) {
 display: none;
 height: 0
}

[hidden],
template {
 display: none
}

a {
 background: transparent
}

a:active,
a:hover {
 outline: 0
}

abbr[title] {
 border-bottom: 1px dotted
}

b,
strong {
 font-weight: bold
}

dfn {
 font-style: italic
}

h1 {
 font-size: 2em;
 margin: 0.67em 0
}

mark {
 background: #ff0;
 color: #000
}

small {
 font-size: 80%
}

sub,
sup {
 font-size: 75%;
 line-height: 0;
 position: relative;
 vertical-align: baseline
}

sup {
 top: -0.5em
}

sub {
 bottom: -0.25em
}

img {
 border: 0
}

svg:not(:root) {
 overflow: hidden
}

figure {
 margin: 1em 40px
}

hr {
 -moz-box-sizing: content-box;
 box-sizing: content-box;
 height: 0
}

pre {
 overflow: auto
}

code,
kbd,
pre,
samp {
 font-family: monospace, monospace;
 font-size: 1em
}

button,
input,
optgroup,
select,
textarea {
 color: inherit;
 font: inherit;
 margin: 0
}

button {
 overflow: visible
}

button,
select {
 text-transform: none
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
 -webkit-appearance: button;
 cursor: pointer
}

button[disabled],
html input[disabled] {
 cursor: default
}

button::-moz-focus-inner,
input::-moz-focus-inner {
 border: 0;
 padding: 0
}

input {
 line-height: normal
}

input[type="checkbox"],
input[type="radio"] {
 box-sizing: border-box;
 padding: 0
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
 height: auto
}

input[type="search"] {
 -webkit-appearance: textfield;
 -moz-box-sizing: content-box;
 -webkit-box-sizing: content-box;
 box-sizing: content-box
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
 -webkit-appearance: none
}

fieldset {
 border: 1px solid #c0c0c0;
 margin: 0 2px;
 padding: 0.35em 0.625em 0.75em
}

legend {
 border: 0;
 padding: 0
}

textarea {
 overflow: auto
}

optgroup {
 font-weight: bold
}

table {
 border-collapse: collapse;
 border-spacing: 0
}

td,
th {
 padding: 0
}

/* ========================================================================== $RESET ========================================================================== */

/* $boxing ========================================================================== */

/** * NOTE: * * Force the padding and border to be part of the width. */

html * {
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 -ms-box-sizing: border-box;
 -o-box-sizing: border-box;
 box-sizing: border-box;
}

/* $spacing ========================================================================== */

/** * NOTE: * * Undo the margins and padding defined by Normalize.css. */

h1,
h2,
h3,
h4,
h5,
h6,
hgroup,
p,
ul,
ol,
dl,
blockquote,
address,
table,
fieldset,
figure,
pre,
caption {
 margin: 0;
 padding: 0;
}

/* ========================================================================== $SHARED ========================================================================== */

/* $margin-bottom ========================================================================== */

/** * NOTE: * * Maintain a consistant vertical rhythm in one place. */

h1,
h2,
h3,
h4,
h5,
h6,
hgroup,
p,
ul,
ol,
dl,
blockquote,
address,
table,
fieldset,
figure,
pre,
caption {
 margin-bottom: 24px;
}

/* $margin-left ========================================================================== */

ul,
ol {
 margin-left: 48px;
}

/* $clear-fix ========================================================================== */

.grid:after,
.nav:after {
 display: table;
 clear: both;
 content: "";
}

/* ========================================================================== $QUARKS ========================================================================== */

/* $body ========================================================================== */

body {
 font: 16px/24px"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
}

/* $hn ========================================================================== */

h1,
.h1 {
 font-size: 36px;
}

h2,
.h2 {
 font-size: 28px;
}

h3,
.h3 {
 font-size: 24px;
}

h4,
.h4 {
 font-size: 16px;
}

h5,
.h5 {
 font-size: 14px;
}

h6,
.h6 {
 font-size: 12px;
}

/* $hr ========================================================================== */

hr {
 margin-bottom: 22px;
 border: 0;
 border-bottom: 1px solid #ccc;
}

/* $a ========================================================================== */

a {
 color: #089AD9;
}

/* $table ========================================================================== */

table {
 width: 100%;
}

th,
td {
 padding: 12px;
}

th {
 text-align: left;
}

/* ========================================================================== $MOLECULES ========================================================================== */

/* $container ========================================================================== */

.container {
 margin: 0 auto;
 max-width: 80%;
}

/* $grid ========================================================================== */

.grid {
 margin-left: -24px;
}

.grid-item {
 float: left;
 padding-left: 24px;
}

/* $box ========================================================================== */

.box {
 margin-bottom: 24px;
 padding: 24px;
 border-radius: 2px;
 background: #7F7D7D;
 min-height: 10%;
}

.chbox {
 margin-bottom: 24px;
 padding: 24px;
 border-radius: 2px;

 min-height: 10%;
}

.box-xs {
 padding: 6px;
}

.box-s {
 padding: 12px;
}

.box-l {
 padding: 36px;
}

.box-xl {
 padding: 48px;
}

.box-flat {
 border-radius: 0;
}

.box-last {
 margin-bottom: 0;
}

/* $alert ========================================================================== */

.alert {
 margin-bottom: 24px;
 padding: 12px;
 border-radius: 2px;
 font-size: 85%;
 background: #eee;
 text-align: center;
}

/* $nav ========================================================================== */

.nav {
 margin-left: 0;
 list-style: none;
}

.nav>li>a {
 display: inline-block;
 text-decoration: none;
 /*the transition for the background*/
 transition: background 0.5s ease-in-out;
}

.nav>li>a {
 vertical-align: middle;
}

.nav>li>a:hover {
 color: red;
 transition: color 0.5s ease-in-out;
}

.nav>li:hover {
 /*when hovering turn background darkgrey*/
 background: lightgrey;
 color: #fff;
 transition: background 0.5s ease-in-out;
}

.nav-menu>li {
 background: green;
 text-align: center;
 vertical-align: middle;
 margin: 1px;
 float: left;
 padding: 10px;
 min-height: 50px;
 max-height: 50px;
 transition: background 0.5s ease-in-out;
}

/* $nav-inline ========================================================================== */

.nav-inline>li {
 float: left;
}

/* $btn ========================================================================== */

.btn {
 display: inline-block;
 padding: 0.5em 1em;
 line-height: normal;
 outline: 0;
 border: 0;
 border-radius: 4px;
 white-space: nowrap;
 text-decoration: none;
 text-align: center;
 vertical-align: center;
 cursor: pointer;
 color: #fff;
 background: #089AD9;
}

.btn:hover {
 background: #0ABCFB;
}

.btn:active {
 background: #0678B6;
}

/* $btn-block ========================================================================== */

.btn-block {
 display: block;
 width: 100%;
}

/* ========================================================================== $ATOMS ========================================================================== */

/* $b ========================================================================== */

.b-s>li {
 border: 1px solid grey;
}

/* $fw ========================================================================== */

.fw-n {
 font-weight: 400;
}

.fw-b {
 font-weight: 700;
}

/* $td ========================================================================== */

.td-n {
 text-decoration: none;
}

.td-u {
 text-decoration: underline;
}

/* $ta ========================================================================== */

.ta-l {
 text-align: left;
}

.ta-c {
 text-align: center;
}

.ta-r {
 text-align: right;
}

.ta-j {
 text-align: justify;
 text-justify: inter-word;
 display: table-cell;
 vertical-align: middle;
 text-align: center;
 padding: 1%;
}

/* $fl ========================================================================== */

.fl-l {
 float: left;
}

.fl-r {
 float: right;
}

.fl-n {
 float: right;
}

/* $ls ========================================================================== */

.ls-n {
 list-style: none;
}

/* $mt ========================================================================== */

.mt-n {
 margin-top: 0;
}

.mt-xs {
 margin-top: 6px;
}

.mt-s {
 margin-top: 12px;
}

.mt-m {
 margin-top: 24px;
}

.mt-l {
 margin-top: 36px;
}

.mt-xl {
 margin-top: 48px;
}

/* $mb ========================================================================== */

.mb-n {
 margin-bottom: 0;
}

.mb-xs {
 margin-bottom: 6px;
}

.mb-s {
 margin-bottom: 12px;
}

.mb-m {
 margin-bottom: 24px;
}

.mb-l {
 margin-bottom: 36px;
}

.mb-xl {
 margin-bottom: 48px;
}

/* $ml ========================================================================== */

.ml-n {
 margin-left: 0;
}

.ml-xs {
 margin-left: 6px;
}

.ml-s {
 margin-left: 12px;
}

.ml-m {
 margin-left: 24px;
}

.ml-l {
 margin-left: 36px;
}

.ml-xl {
 margin-left: 48px;
}

/* $mr ========================================================================== */

.mr-n {
 margin-right: 0;
}

.mr-xs {
 margin-right: 6px;
}

.mr-s {
 margin-right: 12px;
}

.mr-m {
 margin-right: 24px;
}

.mr-l {
 margin-right: 36px;
}

.mr-xl {
 margin-right: 48px;
}

/* $pt ========================================================================== */

.pt-n {
 padding-top: 0;
}

.pt-xs {
 padding-top: 6px;
}

.pt-s {
 padding-top: 12px;
}

.pt-m {
 padding-top: 24px;
}

.pt-l {
 padding-top: 36px;
}

.pt-xl {
 padding-top: 48px;
}

/* $pb ========================================================================== */

.pb-n {
 padding-bottom: 0;
}

.pb-xs {
 padding-bottom: 6px;
}

.pb-s {
 padding-bottom: 12px;
}

.pb-m {
 padding-bottom: 24px;
}

.pb-l {
 padding-bottom: 36px;
}

.pb-xl {
 padding-bottom: 48px;
}

/* $pl ========================================================================== */

.pl-n {
 padding-left: 0;
}

.pl-xs {
 padding-left: 6px;
}

.pl-s {
 padding-left: 12px;
}

.pl-m {
 padding-left: 24px;
}

.pl-l {
 padding-left: 36px;
}

.pl-xl {
 padding-left: 48px;
}

/* $pr ========================================================================== */

.pr-n {
 padding-right: 0;
}

.pr-xs {
 padding-right: 6px;
}

.pr-s {
 padding-right: 12px;
}

.pr-m {
 padding-right: 24px;
}

.pr-l {
 padding-right: 36px;
}

.pr-xl {
 padding-right: 48px;
}

/* $vw ========================================================================== */

.vw-n {
 font-size: 0vw;
}

.vw-xs {
 font-size: 1vw;
}

.vw-s {
 font-size: 2vw;
}

.vw-m {
 font-size: 3vw;
}

.vw-l {
 font-size: 4vw;
}

.vw-xl {
 font-size: 5vw;
}

/* $vh ========================================================================== */

.vh-n {
 font-size: 0vh;
}

.vh-xs {
 font-size: 1vh;
}

.vh-s {
 font-size: 2vh;
}

.vh-m {
 font-size: 3vh;
}

.vh-l {
 font-size: 4vh;
}

.vh-xl {
 font-size: 5vh;
}

/* $ra ========================================================================== */

/** * NOTES * * .ra-p is used for creating pill buttons. */

.ra-n {
 border-radius: 0;
}

.ra-xs {
 border-radius: 2px;
}

.ra-s {
 border-radius: 4px;
}

.ra-m {
 border-radius: 6px;
}

.ra-l {
 border-radius: 8px;
}

.ra-xl {
 border-radius: 12px;
}

.ra-p {
 border-radius: 100px;
}






/* $w ========================================================================== */

/** * NOTES * * Widths are used for our proportionate grids and tables. */

.w-1-1 {
 width: 100%
}

.w-1-2 {
 width: 50%
}

.w-1-3 {
 width: 33.3%
}

.w-1-4 {
 width: 25%
}

.w-2-3 {
 width: 66.6%
}

.w-3-4 {
 width: 75%
}

.w-1-5 {
 width: 20%
}

.w-2-5 {
 width: 40%
}

.w-3-5 {
 width: 60%
}

.w-4-5 {
 width: 80%
}

/* $mw ========================================================================== */

@media screen and (max-width: 480px) {
 .mw-1-1 {
  width: 100%
 }
 .mw-1-2 {
  width: 50%
 }
 .mw-1-3 {
  width: 33.3%
 }
 .mw-1-4 {
  width: 25%
 }
 .mw-2-3 {
  width: 66.6%
 }
 .mw-3-4 {
  width: 75%
 }
 .mw-1-5 {
  width: 20%
 }
 .mw-2-5 {
  width: 40%
 }
 .mw-3-5 {
  width: 60%
 }
 .mw-4-5 {
  width: 80%
 }
 .no-mobile {
  display: none;
 }
}

/* $mw modules ========================================================================== */

@media screen and (max-width: 480px) {
 /* modules hamburger menu ========================================================================== */
 .hmbm {
  /* moves the hamburger menu symbol to the right*/
  float: right;
  margin-right: 10%;
 }
 .hmbm:hover .mwnav {
  /* when hovering over the menu display nav bar*/
  display: initial;
  background: lightgrey;
  color: inline-black;
  width: 80%;
 }
 .hmbm:hover .mwnav>li {
  /* making the hamburger list items responsive*/
  width: 100%;
  font-size: 8vw;
  padding: 5px;
 }
 /* $mw nav module minupulating navigating for hamburger menu ========================================================================== */
 .mwnav {
  /*hide the nav bar*/
  display: none;
  /*seperate the nav bar items and center them*/
  padding-top: 12px;
  text-align: center;
 }
 .mwnav>li>a {
  /*make them into boxes*/
  display: block;
  color: inherit;
  padding: 12px;
  min-height: 4%;
  text-decoration: none;
  transition: background 0.5s ease-in-out;
 }
 /*when you hover over them, they change color */
 .nav>li>a:hover {
  background: darkgrey;
  color: #fff;
 }
 /*creating minium size for hamburger menu*/
 .hmbmo>a {
  position: relative;
 }
 /*content when size changes for responsiveness*/
 .btn {
  font-size: 70%;
 }
}

@media (min-width: 480px) {
 /*when the screen reaches min width then make them dissappear*/
 .dissappear {
  display: none;
 }
}

@media (min-width: 480px) {
 .blocks {
  display: inline-block;
 }
}

/* ========================================================================== $COLORS ========================================================================== */

.primary,
.secondary,
.info,
.warning,
.danger,
.success {
 color: #fff;
}

.primary {
 background: #2F4073;
}

.secondary {
 background: #FFE8AA;
}

.info {
 background: #806315;
}

.warning {
 background: #E6A218;
}

.danger {
 background: #ED1846;
}

.success {
 background: #8DC73F;
}

.primarywords {
 color: #806315;
}

.clearwords {
 color: white;
}

.bl {
 color: #000;
}

.bl a {
 color: #000;
 text-decoration: none;
}

.highlight {
 background-color: #D4AD6A;
}

/* ========================================================================== $TRUMPS ========================================================================== */

div.tip {
 border-bottom: 1px dashed;
 text-decoration: none
}

div.tip:hover {
 cursor: help;
 position: relative
}

div.tip span {
 display: none
}

div.tip:hover span {
 border: #c0c0c0 1px dotted;
 padding: .4%;
 border-radius: 12px;
 display: block;
 z-index: 100;
 background: lightblue 100% 5%;
 left: 30%;
 margin: 10px;
 width: 50%;
 position: absolute;
 bottom: 80%;
 right: 20px;
 text-align: center;
 text-decoration: none
}

.btn {
 background: #FFE0AA;
 text-decoration: none;
 color: #805815;
}

.btn:hover {
 background: #805815;
 color: #FFE0AA;
}

.icons {
 font-size: 3rem;
 font-weight: bold;
}

#f1_container {
 position: relative;
 margin: 10px auto;
 max-width: 450px;
 height: 300px;
 z-index: 1;
}

#f1_container {
 -webkit-perspective: 1000px;
 -moz-perspective: 1000px;
 -o-perspective: 1000px;
 perspective: 1000px;
}

#f1_card {
 width: 100%;
 height: 100%;
 -webkit-transform-style: preserve-3d;
 -webkit-transition: all 1.0s linear;
 -moz-transform-style: preserve-3d;
 -moz-transition: all 1.0s linear;
 -o-transform-style: preserve-3d;
 -o-transition: all 1.0s linear;
 transform-style: preserve-3d;
 transition: all 1.0s linear;
}

#f1_card img {
 width: 100%;
 height: Auto;
 -webkit-box-shadow: -5px 5px 5px #aaa;
 -moz-box-shadow: -5px 5px 5px #aaa;
 box-shadow: -5px 5px 5px #aaa;
}

#f1_container:hover #f1_card,
#f1_container.hover_effect #f1_card {
 -webkit-transform: rotateY(180deg);
 -moz-transform: rotateY(180deg);
 -o-transform: rotateY(180deg);
 transform: rotateY(180deg);
 -webkit-box-shadow: -5px 5px 5px #aaa;
 -moz-box-shadow: -5px 5px 5px #aaa;
 box-shadow: -5px 5px 5px #aaa;
}

.face {
 position: absolute;
 width: 100%;
 height: 100%;
 -webkit-backface-visibility: hidden;
 -moz-backface-visibility: hidden;
 -o-backface-visibility: hidden;
 backface-visibility: hidden;
}

.face.back {
 display: block;
 -webkit-transform: rotateY(180deg);
 -webkit-box-sizing: border-box;
 -moz-transform: rotateY(180deg);
 -moz-box-sizing: border-box;
 -o-transform: rotateY(180deg);
 -o-box-sizing: border-box;
 transform: rotateY(180deg);
 box-sizing: border-box;
 padding: 10px;
 color: white;
 text-align: center;
 background-color: #aaa;
 font-size: 1.5vh;
}

.rogers {
 background: lightgrey;
 width: 50px;
 height: 50px;
 color: white;
}

.rogers-frames {
 border: 1px solid lightblue
}

.box-b {
 bottom: 1%;
 position: absolute;
 width: 100%;
}



.base {
 width: 90%;
 float: left;
}

.nav {
 width: 90%;
 padding: 1%;
 margin: 0 auto;
 height: 1.5em;
}

.box {
 float: left;
 padding: .5%;
 margin: .5%;
 color: white;
 background: lightgrey;
 /*width: 20%;*/
 text-align: center;
 font-size: 100%;
}

.chbox {
 float: left;
 padding: .5%;
 margin: .5%;
 color: white;

 /*width: 20%;*/
 text-align: center;
 font-size: 100%;
}

.chbox:hover {
 border-bottom: 1px solid yellow;
}

.box:hover {
 box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 20px;
 border-radius: 5px;
}

.hover:hover {
 box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 20px;
 border-radius: 5px;
}

.input {
 background: white;
 border: 1px solid white;
 border-bottom: 1px solid lightblue;
 color: grey;
 float: left;
 padding: 2%;
 margin: 2%;
 text-align: center;
 width: 20%;
}

.input:hover {
 zoom: 1.1;
}

.input:focus {
 border: 1px solid white;
}

.btn {
 background: lightblue;
 margin: 2%;
 padding: 2%;
 width: 30%;
 color: white;
 border: 1px solid white;
}

.btn:hover {
 box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 20px;
 border-radius: 5px;
}

.box-p {
 width: 100%;
 padding: 2%;
 margin: 2%;
 text-align: center;
}

a {
 color: white;
 text-decoration: none;
}

.space {
 width: 5%;
 float: left;
}

.mid-base {
 width: 100%;
 float: left;
}

.wbase {
 width: 100%;
}

.resor {
 display: none;
}

.prog {
 display: none;
}

.desk {
 display: block;
}

.forms {
 top: 1%;
 right: 5%;
 position: fixed;
 width: 30%;
}

.form2 {
 position: absolute;
 bottom: 10%;
}

.space2 {
 width: 1%;
 float: left;
}

.box2 {
 width: auto;
 float: left;
 padding: 1%;
 margin: 1%;
 color: black;
 background: #fff;
 text-align: center;
 font-size: .7rem;
}

.searching {
 color: lightgrey;
}

.tb {

 float: left;
 display: inline-block;
 border: solid 2px #fff;

}

.cl {
 clear: both;
}

.grid-block {
 display: block;
 clear: both;
 margin: 0 auto;
}

/**
#shadow
****************************************/

.sh-l {

 background: rgb(0, 188, 212);
 overflow: hidden;
}

.sh-js {
 background: #607c89;
}

.sh-linux {
 background: #00cbba;
}

.sh-grpc {
 background: #446ffa;
}

.sh-r {
 background: #232328;
 overflow: hidden;
 box-shadow: -6px 0 8px rgba(0, 0, 0, 0.6);
 -webkit-box-shadow: -6px 0 8px rgba(0, 0, 0, 0.6);
 -moz-box-shadow: -6px 0 8px rgba(0, 0, 0, 0.6);
}

/**
#menu
****************************************/

.menu-ul {
 border-bottom: 1px solid #efff00b5;
}

@media screen and (min-width: 1300px) {
 .conbase {
  width: 50%;
  margin: 0 auto;
 }
 .box {
  font-size: 100%;
 }

 .vw-s {
  font-size: 100%;
 }
}

@media screen and (max-width: 1300px) {
 .conbase {
  width: 80%;
  margin: 0 auto;

 }
 .box {
  font-size: 100%;
 }
 .form {
  width: 70%;
 }
}


/*changes */

.PR1change {
 background: #d5ccd961;
 color: white;
}

.PR1box {
 background: #a17b9e;
 color: white;
}

.PR2change {
 background: #3d00633d;
 color: white;
}

.PR2box {
 background: #a17b7b85;
 color: white;
}

.PR3change {
 background: #dce5dc;
 color: white;
}

.PR3box {
 background: #7b88a1b0;
 color: white;
}

.menu2 {
 background: black;
}

/*
appear
******************************/

.appears {
 display: block;
}

.nappears {
 display: none;
}

.none {
 display: none;
}

/*
formatting paragraph
******************************/

.para {
 text-align: justify;
 text-justify: inter-word;
}

.menu {}

.menu a:hover {
 /*when hovering turn background darkgrey*/
 background: #d3d3d382;
 color: #fff;
 transition: background 0.5s ease-in-out;
 border-radius: 2px;
 padding: 1%;
 box-shadow: 3px 1px 1px 1px #00000014;

}


/*
flex
******************************/

.cards {
 display: flex;
}

.card {
 margin: 0 5px;
 flex: 1 1 300px;
}

.cards {
 margin: 0 auto;
 max-width: 800px;
}

.cards {
 margin: 0 auto;
 max-width: 800px;
}

.card {
 background-color: #fff;
 box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.card header {
 padding: 10px;
 background-color: rgb(41, 73, 130);
 color: #fff;
}

.card header h2 {
 font-size: 1.4rem;
 font-weight: normal;
 margin: 0;
 padding: 0;
}

.card .body {
 padding: 10px;
 font-size: .9rem;
 color: #757575;
}

/* Panel
#####################################*/

.stbox {

 width: 70%;
 height: 100px;
 background: #fffef2;


}

.gbox {
 display: none;
 width: 100px;
 height: 100px;
 background: #fffef2;
 transition: width 2s;
 transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
 opacity: 0;

}

.fbox {
 display: none;
 width: 100px;
 height: 100px;
 background: #fffef2;
 transition: width 2s;
 transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
 opacity: 0;

}

.pmenu a:hover {
 color: #000;
 transition: background 0.5s ease-in-out;
 border-radius: 2px;
 padding: 1%;
 border-bottom: 1px solid #333;
}


/*https://css-tricks.com/using-css-cursors/
https://www.howdesign.com/design-creativity/top-10-sites-for-designers/top-10-websites-for-designers-december-2017/*/

/*#scrolling
#################################### */

html {
 scroll-behavior: smooth;
}

#section1 {
 height: 600px;
 background-color: pink;
}

#section2 {
 height: 600px;
 background-color: yellow;
}
